<!--This is our base template. We use this for most of our tabs- contains our HTML for the header and the buttons inside-->
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>SureFashion</title>
  <link rel="shortcut icon" href="#" />

  <link href={% static "import_styles/poppins_font.css" %} rel="stylesheet" />
  <link href={% static "import_styles/roboto_font.css" %} rel="stylesheet" />
  <link href={% static "import_styles/source_sans_font.css" %} rel="stylesheet" />

  <link href={% static "import_styles/bootstrap.min.css" %} rel="stylesheet" />
  <link rel="stylesheet" href={% static "styles/general.css" %}>
  <link rel="stylesheet" href={% static "styles/header.css" %}>

  <script src={% static "import_styles/bootstrap.bundle.min.js" %}></script>
  <script src={% static "import_styles/dev_jquery-3.7.1.js" %}></script>
  <script src={% static "javascript/init.js" %}></script>
  <!--TODO: Pre-Release, change to "import_styles/jquery-3.7.1.js"-->
</head>

<body>
  <div class="navbar header">
    <div class="left-section">
      <a href="{% url 'home' %}">
        <img src="{% static 'images/logo.png' %}" alt="logo" class="logo">
      </a>
    </div>
    <div class="middle-section">
      <button onclick="window.location.href='{% url 'wardrobe' %}';" class="header-button">
        WARDROBE
      </button>
      <button onclick="window.location.href='{% url 'inspiration' %}';" class="header-button">INSPIRATION</button>
      <button class="header-button">BUILD</button>
    </div>
    <div class="right-section">
        <!-- Dropdown Profile for logged-in users -->
        <div class="dropdown">
          <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown">
            <img src="{{ user.profile.image.url }}" alt="{{ user.username }}" class="profile-picture">
          </button>
          <ul class="dropdown-menu dropdown-menu-end">
              <a class="dropdown-item" href="{% url 'wardrobe' %}">Wardrobe</a>
              <a class="dropdown-item" href="{% url 'profile' %}">Profile</a>
              <div class="dropdown-divider"></div>
              <form action="{% url 'logout' %}" method="post">
                  {% csrf_token %}
                  <button type="submit" class="dropdown-item">Logout</button>
              </form>
            </ul>
      </div>
  </div>
  
  </div>
  <div class="header-spacer"></div>
  {# This is the base template that all other templates will extend #}
  {%block content %}{% endblock content%}
</body>

</html>