{% extends 'home/base.html' %}
{% load static %}
{% block title %}Wardrobe{%endblock title %}
{% block content %}
<div class="container-fluid px-5">
  <div class="row view-window">
    <div class="col-2 sidebar">
      <!-- TODO: Add some Navbars- Wardrobe, Outfits, Styles, Favorites-->
      <div class="row border-box">
        <p class="number-items">{{ product_count }} Items</p>
      </div>
      <div class="row categories border-box">
        <p class="fw-bold mb-0">Category</p>
        <p class="">Shirt<br>Hoodies<br>Pants<br>Shorts</p>
      </div>
    </div>
    <div class="col-10 ">
      <div class="row border-box pt-2 pb-3">
        <div class="col d-flex align-items-center p-0">
          <p class="mb-0 mx-2">Sort by:</p>
          <select id="sort" class="form-control" style="width: auto;" onchange="location = this.value;">
            <!--TODO: why tf does formatting remove the two spaces and how to remove this-->
            <option value="?sort=price-asc" {% if request.GET.sort == 'price-asc' %}selected{% endif %}>Price: Low to High</option>
            <option value="?sort=price-desc" {% if request.GET.sort == 'price-desc' %}selected{% endif %}>Price: High to Low</option>
            <option value="?sort=newest" {% if request.GET.sort == 'newest' %}selected{% endif %}>Newest</option>
            <option value="?sort=heat" {% if request.GET.sort == 'heat-asc' %}selected{% endif %}>Heat</option>

          </select>
        </div>
        <div class="col text-end">
          <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#myModal">
            + Add Item
          </button>
        </div>
      </div>
      <div class="row border-box custom-row">
        {% for product in products %}
        <div class="custom-card-column">
          <div class="card aspect-ratio-card">
            <div class="image-container">
              <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}">
            </div>
            <div class="card-body">
              <p class="mb-0">{{ product.name }}</p> <!--TODO: make this lineheight lower and pretty it up-->
              <p class="card-text">${{ product.price }}<br>Heat Index: {{product.heat_index}}</p> <!--TODO:This top-->
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      <div class="spacer"></div>
    </div>
  </div>
</div>
</div>

<!-- TODO: This shite finna need a lotta work gawd damn; Follow the notebook-->
<!-- The Modal -->
<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Modal Heading</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        Modal body..
        <form method="post" enctype="multipart/form-data"> {% csrf_token %} {{ form.as_p }} <button type="submit">Create Product</button> </form>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>
{% endblock content %}