{% extends 'home/base.html' %}
{% load static %}
{% block title %}Wardrobe{%endblock title %}
{% block content %}
<link rel="stylesheet" href={% static "styles/inspiration.css" %}>
<div class="container-fluid flex-grow-1 d-flex px-3 pt-3 pb-3">
    <div class="col me-3 sidebar border-box">
        <div class="fill-space">
            IDK just some stuff rn
        </div>
        <div>
            <button class="btn btn-primary">Generate</button>
        </div>
    </div>
    <div class="col preview border-box">
        <div class="row">
            <div class="col-6">
                <!--Preview-->
            </div>
            <div class="col-6">
                <!--Theory n stuff-->
            </div>
        </div>
    </div>
</div>
{% endblock content %}