{% extends 'home/base.html' %}
{% load static %}
{% block title %}Wardrobe{%endblock title %}
{% block content %}
<div class="container-fluid px-5">
  <div class="row subtitle">
    <h2>Your Wardrobe<br></h2>
    <p>Idk some stuff along the lines idk man</p>
  </div>
  <div class="row view-window">
    <div class="col-2 sidebar">
      <div class="row">1500 Items</div>
      <div class="row categories">Filters</div>
    </div>
    <div class="col-10">
      Items
      <div class="spacer"></div>
    </div>
  </div>
</div>
{% endblock content %}