{% extends 'home/base.html' %}
{% load static %}
{% block title %}Wardrobe{%endblock title %}
{% block content %}
<div class="container-fluid px-5">
  <div class="row subtitle">
    <h2>Your Wardrobe<br></h2>
    <p>Idk some stuff along the lines idk man</p>
  </div>
  <div class="row view-window">
    <div class="col-2 sidebar">
      <div class="row border-box">        
        <p class="number-items">1000 Items</p>
      </div>
      <div class="row categories border-box">
        <p class="fw-bold">Category</p>
        <p class="">Shirt<br>Hoodies<br>Pants<br>Shorts</p>
      </div>
    </div>
    <div class="col-10 border-box">
      <p class="fw-bold">Categories</p>

      <div class="spacer"></div>
    </div>
  </div>
</div>
{% endblock content %}