/* TESTING: REMOVE */
.spacer {
  height: 5000px;
  background-color: rgba(0, 255, 255, 0.212);
}

.spacer-test {
  margin-top: 200px;
  font-size: 180px;
  color: rgb(0, 0, 0);
}

/* REMOVE END */

/* General CSS after signing in - Light Mode */

body , html{
  background-color: rgba(233, 233, 233, 0.295);
}

.subtitle {
  height: 75px;
  margin: 0;
  margin-top: 16px;
  margin-bottom: 16px;
}

.view-window {
  border: rgb(226, 226, 226) solid 2px;
  background-color: white;
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: medium;
  line-height: 40px;
}

.border-box{
  border: rgb(226, 226, 226) solid 1px;
}

.sidebar {
  /* make the sidebar sticky */
  position: -webkit-sticky; /* Required for Safari */
  position: sticky;
  height:50%;
  top: 85px;
}

.number-items {
  font-size: 16px;
  font-weight: bold;
  margin: 0px;
}

.categories {
  font-size: 16px;
}